* {
    box-sizing: border-box;
    margin: 0px;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(30 25 25); */
    background-image: url('images/me2.jpg');
    background-attachment: fixed;
    min-width: 400px;
}
#header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    border-bottom: 2px outset;
    z-index: 1;
}
#header ul  li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10%;

}
#header > h3{
    padding: 10px;
    margin: 5px;
    cursor: none;
}
.list-c li:hover{
    /* border-bottom: 1px solid aqua; */
    transform: rotate(0.1deg);
    box-shadow: 0px -2px 20px 4px #04e3ff;
    background-color: #04e3ff;

}

#header > h3:hover {
    /* #9fffa3 */
    border-bottom: 1px solid aqua;
}
.intro {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    /* background-image: url('images/me1.jpg');
    background-repeat: no-repeat; */
}
.intro::before {
    content: "";
    position: absolute;
    left: 0;
    /* top: -40px; */
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    transform: skewY(-4deg);
    transform-origin: top left;
    border-bottom: 2px outset;

}
.text {
    position: absolute;
    color: white;
    max-width: 300px;
    min-width: 300px;

    top: 50px;
    left: 30px;
    line-height: 1.6;
}
#mgIn {
    position: absolute;
    top: 0px;
    left: 320px;
    height: 75%;
    animation-name: Move-Image-Intro;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
:root {
    --img1-position: absolute;
    --img1-ptop: 60px;
    --img1-pleft: 320px;
    --my-project-grid-template-columns: auto auto auto auto;
    --my-project-grid-template-rows:  auto auto;
    --height-my-learn: 800px;
    --my-prject-background-repeat: no-repeat;
}
@keyframes Move-Image-Intro {
    50%{
        position: var(--img1-position);
        top: var(--img1-ptop);
        left: var(--img1-pleft);
    }
    100%{
    }  
}
#mgIn:hover {
    animation-play-state: paused;
}
.my-learn{
    color: red;
    width: 94%;
    height: var(--height-my-learn);
    margin: 20% auto;
    /* margin-top: 128px; */
    margin-top: 100px;
    
    background-color:black;

    display: grid;
    grid-template-columns: var(--my-project-grid-template-columns);
    grid-template-rows: var(--my-project-grid-template-rows);
    padding: 15px;
    padding-top: 100px;
    gap: 10px 10px;
    /* box-shadow: 0 0px 56px 66px black; */


    position: relative;

}
.my-learn div {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-learn div img {
    width: 200px;
    height: 200px;
}

/* .my-learn div:hover { */
    /* background-color: blue; */
    /* transform: rotate(1.6deg);
    transform: scale(90%); */
/* } */
.my-learn img:hover {
    cursor: pointer;
    animation-duration: 1s;
    animation-name: move-cpp;
    animation-fill-mode: forwards;
}
@keyframes move-cpp {
    50%{
        transform: rotate(-45deg);
    }
    80%{
        transform: rotate(45deg);
    }
    100%{}
}
.myprojTitle{
    position: absolute;
    left: 45%;
    top: 20px;
    color: red;
    border: 2px solid ;
    padding: 15px;
    cursor: none;

    animation-duration: 3s;
    /* animation-delay: 3s; */
    animation-name: move-myprojTitle;
    animation-iteration-count: infinite;
}
.myprojTitle::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid red;
    /* background-color: red; */

    position: absolute;
    left: -60px;
    top: 20px;

    animation-duration: 3s;
    animation-name: move-myprojTitle-before;
    animation-iteration-count: infinite;
}
.myprojTitle::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid red;
    /* background-color: red; */

    position: absolute;
    right: -60px;
    bottom: 20px;

    animation-duration: 3s;
    animation-name: move-myprojTitle-after;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
/* .myprojTitle:hover {
    
} */

@keyframes move-myprojTitle {
    80%{
        background-color: #04e3ff;
        border-color: #04e3ff;
        color: white;
    }
}
@keyframes move-myprojTitle-after {
    80%{
        right: -10px;
        background-color: #04e3ff;
        border-color: #04e3ff;
    }
    100%{

    }
}
@keyframes move-myprojTitle-before {
    80%{
        left: -10px;
        background-color: #04e3ff;
        border-color: #04e3ff;
    }
    100%{ 
    }
}
/* small screen */
/* يعني عندما يصبح 400 او اقل منه ماذا سيعمل */
/* 639 965 */
@media (max-width: 639px){
    #mgIn {
        position: absolute;
        top: 200px;
        left: 10px;
        /* max-width: 350px; */
        height: 220px;
        width: 400px;
    }
    :root {
        --img1-position: absolute;
        --img1-ptop: 250px;
        --img1-pleft: 10px;
        --my-project-grid-template-columns: auto ;
        --my-project-grid-template-rows: repeat(5,auto);
        --height-my-learn: 3000px;
        --my-prject-background-repeat: round;
    }
    #header  .list-c{
       display: none;
    }
    .myprojTitle{
        position: absolute;
        left: 35%;
    }
}
/*middle screen*/
@media (min-width: 639px) and (max-width: 965px){
    #mgIn {
        position: absolute;
        top: 0px;
        left: 320px;
        height: 350px;
        width: 500px;
        /* max-width: 400px;; */
    }
    :root {
        --img1-position: absolute;
        --img1-ptop: 90px;
        --img1-pleft: 320px;
        --my-project-grid-template-columns: auto auto;
        --my-project-grid-template-rows: repeat(4,auto);
        --height-my-learn: 1500px;
    }
    #header  .list-c {
        /* display: none; */
    }
    .myprojTitle{
        position: absolute;
        left: 35%;
    }
}

/* ------------------last down--------------------------- */
#info-bottom {
    color: white;
    /* position: absolute;
    top: 1700px; */
    width: 100%;
    height: 500px;
    background-color: #000000b5;
    
    /* background:; */
    /* box-shadow: 0 0px 56px 66px aquamarine; */

}